body {
	background: url("crc.png") no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.donate {
	background-image: url("donate.png");
}

.enroll {
	background-image: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.wrapper img {
	background-image: none;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 475px;
}